<div class=”ui segment”>
 <h3>Mailbox</h3>
 <div class=”ui list”>
  <div class=”item”>
   <% @friendships.each do |friendship| %>
   <% if friendship.sender_id == current_user.id ||      friendship.recipient_id == current_user.id %>
    <% if friendship.sender_id == current_user.id %>
      <% recipient = User.find(friendship.recipient_id) %>
    <% else %>
      <% recipient = User.find(friendship.sender_id) %>
    <% end %>
    <%= link_to recipient.first_name,   friendship_messages_path(friendship)%>
   <% end %>
  <% end %>
  </div>
 </div>
</div>
<div class=”ui segment”>
 <h3>All Users</h3>
  <div class=”ui list”>
   <% @users.each do |user| %>
    <% if user.id != current_user.id %>
     <div class=”item”>
   <%= user.first_name %> <%= link_to ‘Message me!’, friendships_path(sender_id: current_user.id, recipient_id: user.id), method: ‘post’%>
 </div>
  <% end %>
 <% end %>
 </div>
</div>
